@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B0F19;
}

::-webkit-scrollbar-thumb {
  background: #23324C;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B82F6;
}

/* Base styles override */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
